appdirs==1.4.4
appnope==0.1.2
astor==0.8.1
autopep8==1.5.7
backcall==0.2.0
cycler==0.10.0
decorator==5.0.9
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
kiwisolver==1.3.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
-e git+https://github.com/acschwartz/n-puzzle.git@8907e3ca6fd7cdec46ef00d7e06428fc20c27ea6#egg=npuzzle&subdirectory=n-puzzle/npuzzle
numpy==1.21.1
pandas==1.3.1
pandasgui==0.2.13
parso==0.8.2
-e git+https://github.com/acschwartz/n-puzzle.git@8907e3ca6fd7cdec46ef00d7e06428fc20c27ea6#egg=patterngen&subdirectory=patterngen
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
plotly==5.2.1
prompt-toolkit==3.0.19
psutil==5.8.0
ptyprocess==0.7.0
pyarrow==5.0.0
pycodestyle==2.7.0
Pygments==2.10.0
pynput==1.7.3
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Quartz==7.3
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
pytz==2021.1
qtstylish==0.1.4
scipy==1.7.1
seaborn==0.11.2
six==1.16.0
tenacity==8.0.1
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.10.0.0
wcwidth==0.2.5
wordcloud==1.8.1
