-e git+https://github.com/acschwartz/n-puzzle.git@928fb2c69edccad2e10254082d9e13a3eda0db7d#egg=npuzzle&subdirectory=n-puzzle/npuzzle
-e git+https://github.com/acschwartz/n-puzzle.git@928fb2c69edccad2e10254082d9e13a3eda0db7d#egg=patterngen&subdirectory=patterngen
psutil==5.8.0
